
.card-image{
    width: 300px;
    height: 300px;
}

.see-button{
    background-color: #14183c;
    width: 160px;
    border-color: #14183c;
}

.see-button:hover{
    background-color: #14183c !important;
    opacity: 0.75;
}

.see-button:active{
    background-color: #14183c !important;
    opacity: 0.50;
}

.box{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media only screen and (max-width: 700px) {
    .card-container {
        width: 100%;
    }
    .card-image {
        height: auto; 
        width: 100%;
    }
}

.title-text{
    font-family: sans-serif;
    letter-spacing: 0.05em;
  }