
 .team-card{
    width: 21rem;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, 
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 }

 .team-card:hover{
    transform: scale(1.1);
    cursor: pointer;
 }